<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta name=description content="Author: John Marshall,
    Category: Books, Price: £12.99. This book covers the hitherto largely unknown story of the British presence in pre-Independence Senegal.">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="apple-touch-icon" sizes="180x180" href="./src/apple-touch-icon.png" >
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
  <body> 
       </body>
</html>