@font-face {
  font-family: "Garamond Premier Pro Light Italic Display";
  src: url("./my-font.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 6%);
  --color-purple-dark: hsl(288, 54%, 46%);
  --color-purple-light: hsl(288, 75%, 64%);
  --color-purple-medium: rgba(167, 115, 128, 255);

  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: url("./background.jpg");
  color: rgba(167, 115, 128, 255);
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: var(--color-black);
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: auto;
  box-shadow: var(--shadow-small);
  transition: background 0.5s;
}

header .container {
  max-width: 80rem;
  width: 100%;
  height: auto;
  padding: 0 2rem;
  margin: 0 auto;
}
header .brand {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: inherit;
  border: none;
  outline: none;
  color: var(--color-purple-medium);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  margin-top: 10px;
}

header .author-name {
  font-family: "Garamond Premier Pro Light Italic Display";
  height: max-content;
}

header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

header.scrolled {
  background: rgba(255, 255, 255, 0.856);
}

header .menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2rem;
  flex: 1;
}
header .menu-item {
  padding: 1.25rem 0;
  border-bottom: 3px solid transparent;
  transition: all 0.35s ease-in-out;
}
header .menu-item:active {
  border-bottom: 3px solid var(--color-purple-dark);
  outline: none;
}

header .menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  border: none;
  outline: none;
  color: var(--color-purple-dark);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  transition: all 0.35s ease-in-out;
}

header .buy {
  background: #70dbff;
  transition-duration: 0.4s;
  padding: 10px 15px;
  border: 1px solid white;
  color: #550055;
}

header .buy:hover {
  background-color: red;
  color: white;
}

header .icon-container {
  font-size: 0px;
}

header img.icon {
  display: none;
}

main {
  max-width: 90vw;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 2rem;
}

main section {
  width: 100%;
  height: auto;
  margin: 20px auto 0;
  padding-bottom: 1rem;
  display: flex;
  padding-top: 105px;
}

/* main section#home {
  display: flex;
} */
main section#home .cover-container {
  display: flex;
  height: 90vh;
  justify-content: center;
  padding-right: 15px;
}

main section#home .book-cover {
  object-fit: cover;
  height: 100%;
}

main section#home .book-summary {
  padding: 10px;
}

main section#home h1 {
  margin-bottom: 10px;
  font-weight: 700;
  color: #5c5c5c;
}
main section#home p {
  line-height: 1.6em;
  margin: 0 0 10px;
  font-size: 14px;
  color: #5c5c5c;
}

@media (max-width: 800px) {
  header {
    height: 100px;
  }
  header .container {
    padding: 0;
    height: 100%;
  }

  header .navbar > .menu {
    display: none;
  }

  header .navbar a.icon-container {
    display: block;
    position: absolute;
    top: 35%;
    right: 5%;
    height: 20px;
  }
  header .navbar img.icon {
    display: block;
    height: 100%;
  }
  header .navbar {
    height: 100%;
  }

  header .navbar.responsive {
    position: relative;
    flex-direction: column;
  }

  header .navbar.responsive .menu {
    display: flex;
    text-align: left;
    background: white;
    width: 100%;
    justify-content: center;
  }

  header .brand {
    align-items: flex-start;
    height: 90%;
    flex: 1;
    padding-left: 10px;
    width: 100%;
  }

  main section {
    flex-direction: column;
    align-items: center;
  }
  main section#home .cover-container {
    width: 80%;
    height: auto;
  }
  main section#home .book-cover {
    width: 100%;
  }
}
